<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mancala Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Mancala Game</a>
    <div style="width:60%"></div>
    <button type="button" class="auth-btn-wrapper" id="start-button">Start new game</button>
</nav>
<main role="main" class="container">
    <div id="turnInfo" style="width:20%;border-radius: 5px"><b>Turn: </b> <span></span></div>
    <div id="winner"><b>Winner: </b> <span></span></div>
    <div id="main-board">
        <div id="treasureB"><label>Treasure B</label><span></span></div>
        <div id="playerPits">
            <div class="player-container" id="playerB">
                <div class="pit disabled" id="pit7"></div>
                <div class="pit disabled" id="pit8"></div>
                <div class="pit disabled" id="pit9"></div>
                <div class="pit disabled" id="pit10"></div>
                <div class="pit disabled" id="pit11"></div>
                <div class="pit disabled" id="pit12"></div>
            </div>
            <div class="player-container" id="playerA">
                <div class="pit disabled" id="pit0"></div>
                <div class="pit disabled" id="pit1"></div>
                <div class="pit disabled" id="pit2"></div>
                <div class="pit disabled" id="pit3"></div>
                <div class="pit disabled" id="pit4"></div>
                <div class="pit disabled" id="pit5"></div>
            </div>
        </div>
        <div id="treasureA"><label>Treasure A</label><span></span></div>
    </div>

</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
